In [65]:
import pandas as pd
from sqlalchemy import create_engine

In [66]:
csv_path = "20182019.csv"
nba_df = pd.read_csv(csv_path)

In [67]:
nba_df.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [68]:
nba_df['Player'] = nba_df['Player'].str.split('\\').str[0]

nba_df = nba_df.drop(columns=['Rk'])

In [71]:
nba_df = nba_df.rename(columns={'FG%': 'FG Percentage', 'FG%': 'FG Percentage', '3P%': '3P Percentage', '2P%': '2P Percentage', 'eFG%': 'eFG Percentage', 'FT%': 'FT Percentage'})

nba_df.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA',
       'FG Percentage', '3P', '3PA', '3P Percentage', '2P', '2PA',
       '2P Percentage', 'eFG Percentage', 'FT', 'FTA', 'FT Percentage', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [86]:
nba_df = nba_df.drop_duplicates(subset='Player', keep='first')

nba_df.head(30)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG Percentage,...,FT Percentage,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Álex Abrines,SG,25,OKC,31,2,588,56,157,0.357,...,0.923,5,43,48,20,17,6,14,53,165
1,Quincy Acy,PF,28,PHO,10,0,123,4,18,0.222,...,0.700,3,22,25,8,1,4,4,24,17
2,Jaylen Adams,PG,22,ATL,34,1,428,38,110,0.345,...,0.778,11,49,60,65,14,5,28,45,108
3,Steven Adams,C,25,OKC,80,80,2669,481,809,0.595,...,0.500,391,369,760,124,117,76,135,204,1108
4,Bam Adebayo,C,21,MIA,82,28,1913,280,486,0.576,...,0.735,165,432,597,184,71,65,121,203,729
5,Deng Adel,SF,21,CLE,19,3,194,11,36,0.306,...,1.000,3,16,19,5,1,4,6,13,32
6,DeVaughn Akoon-Purcell,SG,25,DEN,7,0,22,3,10,0.300,...,0.500,1,3,4,6,2,0,2,4,7
7,LaMarcus Aldridge,C,33,SAS,81,81,2687,684,1319,0.519,...,0.847,251,493,744,194,43,107,144,179,1727
8,Rawle Alkins,SG,21,CHI,10,1,120,13,39,0.333,...,0.667,11,15,26,13,1,0,8,7,37
9,Grayson Allen,SG,23,UTA,38,2,416,67,178,0.376,...,0.750,3,20,23,25,6,6,33,47,211
10,Jarrett Allen,C,20,BRK,80,80,2096,335,568,0.590,...,0.709,191,481,672,110,43,120,103,184,873
11,Kadeem Allen,SG,26,NYK,19,1,416,65,141,0.461,...,0.778,8,43,51,76,16,4,26,46,189
12,Al-Farouq Aminu,PF,28,POR,81,81,2292,257,593,0.433,...,0.867,112,498,610,104,68,33,72,143,760
13,Justin Anderson,SF,25,ATL,48,4,463,64,157,0.408,...,0.743,24,60,84,23,22,13,23,48,178
14,Kyle Anderson,SF,25,MEM,43,40,1281,150,276,0.543,...,0.578,48,203,251,128,54,37,58,112,346
15,Ryan Anderson,PF,30,TOT,25,8,322,21,69,0.304,...,0.750,18,36,54,19,4,1,14,25,63
18,Ike Anigbogu,C,20,IND,3,0,6,0,3,0.000,...,NaN,1,2,3,1,0,1,1,0,0
19,Giannis Antetokounmpo,PF,24,MIL,72,72,2358,721,1247,0.578,...,0.729,159,739,898,424,92,110,268,232,1994
20,Kostas Antetokounmpo,PF,21,DAL,2,0,11,0,3,0.000,...,0.500,0,1,1,0,2,0,1,0,2
21,Carmelo Anthony,PF,34,HOU,10,2,294,49,121,0.405,...,0.682,9,45,54,5,4,7,8,32,134
22,OG Anunoby,SF,21,TOR,67,6,1352,183,404,0.453,...,0.581,58,139,197,47,46,22,55,140,469
23,Ryan Arcidiacono,PG,24,CHI,81,32,1961,187,418,0.447,...,0.873,27,192,219,269,65,4,63,171,544
24,Trevor Ariza,SF,33,TOT,69,69,2349,294,736,0.399,...,0.793,50,321,371,252,91,21,106,130,863
27,D.J. Augustin,PG,31,ORL,81,81,2269,318,677,0.470,...,0.866,41,162,203,426,52,4,128,115,948
28,Deandre Ayton,C,20,PHO,71,70,2183,509,870,0.585,...,0.746,223,506,729,125,61,67,126,209,1159
29,Dwayne Bacon,SG,23,CHO,43,13,759,122,257,0.475,...,0.739,8,81,89,47,12,5,18,72,316
30,Marvin Bagley,PF,19,SAC,62,4,1567,356,706,0.504,...,0.691,162,309,471,62,33,59,98,120,923
31,Ron Baker,SG,25,TOT,15,0,152,4,20,0.200,...,0.833,1,10,11,15,6,1,5,18,14
34,Wade Baldwin,PG,22,POR,16,0,94,10,33,0.303,...,0.727,2,13,15,12,1,2,14,11,30
35,Lonzo Ball,PG,21,LAL,47,45,1423,185,456,0.406,...,0.417,54,197,251,255,69,19,103,114,465

In [87]:
connection_string = "postgres:parker@localhost:5432/nba_db"
engine = create_engine(f'postgresql://{connection_string}')

In [90]:
engine.table_names()

['2018-2019 Season Stats']

In [91]:
nba_df.to_sql(name='2018-2019 Season Stats', con=engine, if_exists='append', index=False)

In [92]:
pd.read_sql_query('select * from nba_db', con=engine).head()

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "nba_db" does not exist
LINE 1: select * from nba_db
                      ^

[SQL: select * from nba_db]
(Background on this error at: http://sqlalche.me/e/f405)